.container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.container > .login-box {
  flex: 3;
}

.container > .photo-box {
  flex: 5;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f2f2f2;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
  }
}

.photo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.icon-visibility{
  cursor: pointer;
}
